<div class="col-sm-4 col-md-4 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active placeholder"><a href="#"><img data-src="holder.js/65x65/auto/sky" class="img-responsive" alt="Photo"></a></li>
        <li><a href="#" class="placeholder"><img data-src="holder.js/65x65/auto/sky" class="img-responsive" alt="Photo"></a></li>
        <li><a href="#" class="placeholder"><img data-src="holder.js/65x65/auto/sky" class="img-responsive" alt="Photo"></a></li>
       
        <li><a href="#" class="placeholder"><img data-src="holder.js/65x65/auto/sky" class="img-responsive" alt="Photo"></a></li>
        <li><a href="#" class="placeholder"><img data-src="holder.js/65x65/auto/sky" class="img-responsive" alt="Photo"></a></li>
        <li><a href="#" class="placeholder"><img data-src="holder.js/65x65/auto/sky" class="img-responsive" alt="Photo"></a></li>

    </ul>
</div>

<div id="profile" class="col-sm-offset-4 col-sm-8 col-md-8">
    <div id="profileHead">
        Guest Information
    </div>
    <div id="profileBody">
        <div id="profilePhoto" class="placeholder">
            <img data-src="holder.js/300x300/auto/sky" class="img-responsive" alt="Photo">
        </div>
        <div id="profileText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
        </div>
        <div id="profilePMessenger"></div>
    </div>

</div>
